/*font-family: 'Hind', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

:root {
    --branding-color: #FFF4EC;
    --secondary-color: #FF7E06;
    --heading-font-family: 'Montserrat', sans-serif;
    --default-font-family: 'Hind', sans-serif;
    --border-properties: 4px solid #FF7E06;
}


h1, h2, h3, h4, h5 {
    font-family: var(--heading-font-family);
    color: var(--secondary-color);
    font-weight: bold;
}

p {
    font-family: var(--default-font-family);
    color: var(--secondary-color);
    font-weight: 300;
}

h1 {
    font-size: 86px;
}

.hero {
    background-color: var(--branding-color);
    padding: 120px 100px;
}

.title {
    border-top: var(--border-properties);
    border-bottom: var(--border-properties);
    border-radius: 2px;
    padding:25px;
}

.title h3{
    font-size: 38px;
}

.title h1 {
    letter-spacing: 4px;
}

.intro{
    margin:50px;
}

.page-summary {
    margin: 0px;
    padding: 10px 50px;
    border-right: var(--border-properties);
    border-radius: 2px;
}

.page-summary h2{
    font-size: 38px;
    line-height: 1.5;
}

.page-summary p {
    font-family: var(--default-font-family);
    font-size: 24px;
    line-height: 2;
    text-align: left;
    margin:0px;
}

.btn{
    font-family: var(--default-font-family);
}

.btn-branding{
    background-color: var(--secondary-color);
    color: var(--branding-color);
    padding:18px 50px;
    border-radius: 4px;
    font-size:18px;
    line-height:1.5;
    font-weight:bold;
}

.profile-info {
    padding:10px 0px 0px 50px;
}

.portfolio-image {
    padding: 0px 0px 50px 0px;
}

.portfolio-image img{
    border-radius: 30px;
    width: 500px;
    height: 350px;
}

.blog {
    font-style: italic;
    font-size: 30px;
    font-weight: normal;
    border-top: var(--border-properties);
    border-radius: 2px;
    padding:60px 0px;
}

.body-projects {
    margin:75px;
}

.body-title h3{
    font-size: 50px;
    font-weight:bold;
}

.project-summary {
    padding:50px;
}

.portfolio-screenshots-right {
    border-right: var(--border-properties);
    padding-right: 20px;
    margin: 0;
    width: 320px;
    height: 320px;
}

.portfolio-screenshots-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    margin:0;
}

.portfolio-screenshots-left{
    border-left: var(--border-properties);
    padding-left: 20px;
    margin:0;
    width: 320px;
    height: 320px;
}

.portfolio-screenshots-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    margin:0;
}

.project-details {
    padding: 0px;
}

.project-details h4, p{
    color: black;
}

.project-details h4 {
    text-transform: uppercase;
    font-weight: bold;
}

.contact-me {
    background-color: var(--branding-color);
    padding: 100px;
}

.contact-info {
    border-left: var(--border-properties);
    padding-left: 20px;
}